<head>
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/html5shiv.js" | relative_url }}"></script><![endif]-->
	{% if site.url contains 'https://tks18.github.io/' %}
		<link rel="stylesheet" type="text/css" href="/infozy/assets/css/main.css" />
	{% elsif site.url contains 'https://tks18.gitlab.io/*' %}
	    <link rel="stylesheet" type="text/css" href="Needless-Dagger/assets/css/main.css">
    {% else %}
		<link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
	{% endif %}
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "assets/css/ie9.css" | relative_url }}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "assets/css/ie8.css" | relative_url }}" /><![endif]-->
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/icons/favicons/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/icons/favicons/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/icons/favicons/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/icons/favicons/	apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/assets/icons/favicons/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/icons/favicons/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/icons/favicons/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/icons/favicons/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="/assets/icons/favicons/favicon-196x196.png" sizes="196x196" />
	<link rel="icon" type="image/png" href="/assets/icons/favicons/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/png" href="/assets/icons/favicons/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="/assets/icons/favicons/favicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="/assets/icons/favicons/favicon-128.png" sizes="128x128" />
	<meta name="application-name" content="Infozy"/>
	<meta name="msapplication-TileColor" content="#142850" />
	<meta name="msapplication-TileImage" content="/assets/icons/favicons/mstile-144x144.png" />
	<meta name="msapplication-square70x70logo" content="/assets/icons/favicons/mstile-70x70.png" />
	<meta name="msapplication-square150x150logo" content="/assets/icons/favicons/mstile-150x150.png" />
	<meta name="msapplication-wide310x150logo" content="/assets/icons/favicons/mstile-310x150.png" />
	<meta name="msapplication-square310x310logo" content="/assets/icons/favicons/mstile-310x310.png" />
	<meta name="msapplication-notification" content="frequency=30;polling-uri=https://notifications.buildmypinnedsite.com/?feed=https://rss.infozy.tk&amp;id=1;polling-uri2=https://notifications.buildmypinnedsite.com/?feed=https://rss.infozy.tk&amp;id=2;polling-uri3=https://notifications.buildmypinnedsite.com/?feed=https://rss.infozy.tk&amp;id=3;polling-uri4=https://notifications.buildmypinnedsite.com/?feed=https://rss.infozy.tk&amp;id=4;polling-uri5=https://notifications.buildmypinnedsite.com/?feed=https://rss.infozy.tk&amp;id=5;cycle=1" />
</head>
