<section id="one" class="tiles">
  <article>
    <span class="image">
      <img src="/assets/images/coding.png" alt="" />
    </span>
    <header class="major">
      <h3><a href="https://learntocode.infozy.tk" class="link">learn Coding</a></h3>
      <p>Learn Coding, Tips, Tricks for Coding as Mee.</p>
    </header>
  </article>
  <article>
    <span class="image">
      <img src="/assets/images/fin.jpg" alt="" />
    </span>
    <header class="major">
      <h3><a href="https://business.infozy.tk" class="link">Business News</a></h3>
      <p>Latest Business News and Updates.</p>
    </header>
  </article>
  <article>
    <span class="image">
      <img src="/assets/images/pro.jpg" alt="" />
    </span>
    <header class="major">
      <h3><a href="https://professional.infozy.tk" class="link">Professional Hub</a></h3>
      <p>Analysis on issues faced by CA's and Various News Helpful for Chartered Accountant.</p>
    </header>
  </article>
  <article>
    <span class="image">
      <img src="/assets/images/stu.jpg" alt="" />
    </span>
    <header class="major">
      <h3><a href="https://students.infozy.tk" class="link">Student Hub</a></h3>
      <p>Exam News, Updates and Articles to help Students on their Exams.</p>
    </header>
  </article>
  <article>
    <span class="image">
      <img src="/assets/images/gst.jpg" alt="" />
    </span>
    <header class="major">
      <h3><a href="https://gst.infozy.tk" class="link">Goods and Services Tax</a></h3>
      <p>Dedicated Webpage for Gst Updates, News, Real-Time Issues and FAQ's.</p>
    </header>
  </article>
  <article>
    <span class="image">
      <img src="/assets/images/it.jpg" alt="" />
    </span>
    <header class="major">
      <h3><a href="https://it.infozy.tk" class="link">Income Tax</a></h3>
      <p>Stay Up to Date with the Latest Updates, Notifications, FAQ's</p>
    </header>
  </article>
  <article>
    <span class="image">
      <img src="/assets/images/tech.jpg" alt="" />
    </span>
    <header class="major">
      <h3><a href="https://dopetrope.tk" class="link">Dope Technology</a></h3>
      <p>Latest Tech News and Gadget Updates.</p>
    </header>
  </article>
  <article>
    <span class="image">
      <img src="/assets/images/gad.jpg" alt="" />
    </span>
    <header class="major">
      <h3><a href="https://gadgets.dopetrope.tk" class="link">Gadget Reviews</a></h3>
      <p>Reviews Regarding Latest Gadgets Released in the Global Markets.</p>
    </header>
  </article>
  <article>
    <span class="image">
      <img src="/assets/images/pho.jpg" alt="" />
    </span>
    <header class="major">
      <h3><a href="https://photostat.infozy.tk" class="link">Photography</a></h3>
      <p>Showcase of My Pictography</p>
    </header>
  </article>
  <article>
    <span class="image">
      <img src="/assets/images/cre.jpg" alt="" />
    </span>
    <header class="major">
      <h3><a href="https://creators.infozy.tk" class="link">Creators News</a></h3>
      <p>News from the Creators like Youtube, Instagram, etc.</p>
    </header>
  </article>
  <article>
    <span class="image">
      <img src="/assets/images/help.jpg" alt="" />
    </span>
    <header class="major">
      <h3><a href="https://help.infozy.tk" class="link">Website's Help and FAQ's</a></h3>
      <p>Help Regarding the Website and its Support Site</p>
    </header>
  </article>
  <article>
    <span class="image">
      <img src="/assets/images/support.jpg" alt="" />
    </span>
    <header class="major">
      <h3><a href="https://support.infozy.tk" class="link">Website Support Page</a></h3>
      <p>Know our Website's Info Briefly</p>
    </header>
  </article>
</section>
