<!DOCTYPE html>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            <div class="content">
                <p style="text-transform: uppercase;">{{ site.description }}</p>
            </div>
            <div class="row">
                <div class="3u 12u$(medium)">
                    <center>
                        <ul class="actions">
                            <li><a href="#one" class="button next scrolly">Start Now</a></li>
                        </ul>
                    </center>
                </div>
                <div class="3u 12u$(medium)">
                    <center>
                        <ul class="actions">
                            <li><a href="#two" class="button next scrolly">Latest News</a></li>
                        </ul>
                    </center>
                </div>
                <div class="3u 12u$(medium)">
                    <center>
                        <ul class="actions">
                            <li><a href="https://about.infozy.tk" class="button next scrolly">About Authors</a></li>
                        </ul>
                    </center>
                </div>
                <div class="3u 12u$(medium)">
                    <center>
                        <ul class="actions">
                            <li><a href="#contact" class="button next scrolly">Contact Us</a></li>
                        </ul>
                    </center>
                </div>
            </div>
            <center>
                <b>
                    <p>
                        &#129309; I Have a Complete Portfolio of Websites under Infozy Group. Click Below for Individual Category of websites. For Immediate Quick News Click Above for Headlines. &#129309;
                    </p>
                </b>
            </center>
        </div>
    </section>
    <!-- Main -->
    <div id="main">

        <!-- One -->
        {% include tiles.html %}

        <!-- Two -->
        <section id="two">
            <div class="inner">
                <header class="major">
                    <a href="/latest_news">
                        <h2>Latest Posts & News</h2>
                    </a>
                </header>
                <p>{{ content }}</p>
                <script language="JavaScript" src="http://feedroll.com/rssviewer/feed2js.php?src=https%3A%2F%2Fdopetrope.tk%2Ffeed.xml&num=5&au=y&date=y&targ=y&utf=y&css=https://infozy.tk/assets/css/main.css"  charset="UTF-8" type="text/javascript"></script>

                <noscript>
                    <a href="http://feedroll.com/rssviewer/feed2js.php?src=https%3A%2F%2Fdopetrope.tk%2Ffeed.xml&num=5&au=y&date=y&targ=y&utf=y&css=https://infozy.tk/assets/css/main.css&html=y">View RSS feed</a>
                </noscript>
            </div>
        </section>
    </div>
    {% include newsletter.html %}
    {% include footer.html %}

</body>

</html>
