<!DOCTYPE html>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

{% include head.html %}

<body>

    {% include header.html %} {{ content }} {% include newsletter.html %}{% include footer.html %}

</body>

</html>